.item-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 25px;

  .item {
    height: 40vh;
    width: 20vw;

    .item-image {
      height: 100%;
      width: 100%;
      position: relative;
      .add-to-cart-btn {
        position: absolute;
        left: 10%;
        bottom: 8%;
        width: 80%;
        visibility: hidden;
      }
    }
    &:hover {
      .add-to-cart-btn {
        visibility: visible;
      }
    }
    .item-details {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
    }
  }
}
